In [130]:
import pandas as pd
import numpy as np

In [131]:
data=pd.read_csv('emperors.csv')

In [132]:
CityDict ={
  "Rome": (41.9028, 12.4964),
  "Antitum": (41.4496, 12.6197),
  "Lugdunum": (45.7640, 4.8357),
    "Terracina":(41.2964, 13.2333),
   "Terentinum": (40.4644, 17.2470),
    "Falacrine": (42.4211, 13.0805),
    "Narni": (42.5176, 12.5156),
    "Italica": (42.5176, 12.5156),
    "Lanuvium": (41.6754, 12.6980),
    "Alba":(44.7009, 8.0357),
    "Milan":(44.7009, 8.0357),
    "Leptis Magna": (32.6343, 14.2948),
    "Iol Caesarea": (36.5675, 2.2040),
    "Emesa":(34.7324, 36.7137),
    "Arca Caesarea": (34.5305, 36.0382),
    "Shahba":(32.8569, 36.6256),
    "Budalia":(45.0112, 19.4568),
    "Sirmium":(44.9795, 19.6210),
    "Interamna Nahars":(42.5636, 12.6427),
    "Narbo":(43.1843, 3.0031),
    "Salona":(43.5423, 16.4920),
    "Dardania":(40.1467, 26.4086),
    "Romuliana":(43.9095, 22.1753),
    "Naissus":(43.3209, 21.8958),
    "Felix Romuliana":(43.9095, 22.1753),
    "Arelate":(43.6766, 4.6278),
    "Constantinople":(41.0082, 28.9784),
    "Singidunum":(44.7866, 20.4489),
    "Cibalae":(45.2879, 18.8057),
    "Cauca":(41.2158, -4.5221),
    "NaN":(0,0)
}

In [133]:
lat=[]
long=[]
years=[]
for x in range(len(data)):
    if type(data['birth.cty'].iloc[x])==str:
        la,lo=CityDict[data['birth.cty'].iloc[x]]
    else:
        la,lo=("nan","nan")
    lat.append(la)
    long.append(lo)
    if x==0:
        years=[40]
    else:
        years.append(int(data['reignend'].iloc[x].split('-')[0])-int(data['reignstart'].iloc[x].split('-')[0]))
lat=np.asarray(lat)
lat[lat=='nan']=0
long=np.asarray(long)
long[long=='nan']=0

data['latitude']=lat
data['logitude']=long
data['legacy']=years
data['causenums']=pd.factorize(data.cause)[0] + 1
data['risenums']=pd.factorize(data.rise)[0] 
#hacky fix to get rows right:
data=data.sort_values(by='risenums')

data.risenums.iloc[0:10]=-1
data.risenums.iloc[10:20]=-2
data.risenums.iloc[20:30]=-3
# data['risenums'][data['risenums']==0][0:10]=-2
# data['risenums'][data['risenums']==0][0:10]=-3

data=data.sort_values(by='causenums')
data.to_csv('munged_data.csv')

/Users/nicholasrossi/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
data['causenums']=pd.factorize(data.cause)[0] + 1

In [45]:
np.isnan(np.asarray(lat))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [53]:
np.asarray(lat)=='nan'

[array([False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False,  True,
         True,  True,  True,  True, False, False, False, False,  True,
         True,  True,  True, False, False, False, False,  True, False,
        False,  True,  True, False, False, False, False,  True, False,
         True,  True, False, False, False,  True,  True, False, False,
        False, False, False, False, False])]

In [54]:
lat=np.asarray(lat)

In [55]:
lat[lat=='nan']=0

In [76]:
len(data['rise'].unique())

8

In [82]:
len(data['risenums'][data['risenums']==0])

35

In [134]:
data.risenums

0    -1
3    -3
2    -3
1    -3
21    0
52    6
5     1
7     1
26    2
18    2
30    3
29    3
44    5
41    5
36    5
35    5
10   -3
22   -3
17    0
38   -1
65   -2
24   -1
25   -1
59   -2
43   -1
49    6
66   -1
4    -3
6     2
27    3
     ..
45    1
63    7
53   -2
67   -3
14   -3
9    -3
20    1
58   -2
16    0
12   -3
13    0
15    0
48    1
57   -2
19    4
28    3
55   -2
23    1
32    1
56   -2
54   -2
31    3
47   -1
61   -2
33    5
64   -2
37    5
40   -1
46   -1
60    1
Name: risenums, Length: 68, dtype: int64

In [128]:
min(data.risenums)

-1