In [60]:
import pandas as pd
import numpy as np

In [61]:
data=pd.read_csv('emperors.csv')

In [62]:
CityDict ={
  "Rome": (41.9028, 12.4964),
  "Antitum": (41.4496, 12.6197),
  "Lugdunum": (45.7640, 4.8357),
    "Terracina":(41.2964, 13.2333),
   "Terentinum": (40.4644, 17.2470),
    "Falacrine": (42.4211, 13.0805),
    "Narni": (42.5176, 12.5156),
    "Italica": (42.5176, 12.5156),
    "Lanuvium": (41.6754, 12.6980),
    "Alba":(44.7009, 8.0357),
    "Milan":(44.7009, 8.0357),
    "Leptis Magna": (32.6343, 14.2948),
    "Iol Caesarea": (36.5675, 2.2040),
    "Emesa":(34.7324, 36.7137),
    "Arca Caesarea": (34.5305, 36.0382),
    "Shahba":(32.8569, 36.6256),
    "Budalia":(45.0112, 19.4568),
    "Sirmium":(44.9795, 19.6210),
    "Interamna Nahars":(42.5636, 12.6427),
    "Narbo":(43.1843, 3.0031),
    "Salona":(43.5423, 16.4920),
    "Dardania":(40.1467, 26.4086),
    "Romuliana":(43.9095, 22.1753),
    "Naissus":(43.3209, 21.8958),
    "Felix Romuliana":(43.9095, 22.1753),
    "Arelate":(43.6766, 4.6278),
    "Constantinople":(41.0082, 28.9784),
    "Singidunum":(44.7866, 20.4489),
    "Cibalae":(45.2879, 18.8057),
    "Cauca":(41.2158, -4.5221),
    "NaN":(0,0)
}

In [63]:
lat=[]
long=[]
years=[]
for x in range(len(data)):
    if type(data['birth.cty'].iloc[x])==str:
        la,lo=CityDict[data['birth.cty'].iloc[x]]
    else:
        la,lo=("nan","nan")
    lat.append(la)
    long.append(lo)
    if x==0:
        years=[40]
    else:
        years.append(int(data['reignend'].iloc[x].split('-')[0])-int(data['reignstart'].iloc[x].split('-')[0]))
lat=np.asarray(lat)
lat[lat=='nan']=0
long=np.asarray(long)
long[long=='nan']=0

data['latitude']=lat
data['logitude']=long
data['legacy']=years
data['causenums']=pd.factorize(data.cause)[0] + 1
data=data.sort_values(by='causenums')
data.to_csv('munged_data.csv')

In [8]:
data['causenums']=pd.factorize(data.cause)[0] + 1

In [45]:
np.isnan(np.asarray(lat))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [53]:
np.asarray(lat)=='nan'

[array([False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False,  True,
         True,  True,  True,  True, False, False, False, False,  True,
         True,  True,  True, False, False, False, False,  True, False,
        False,  True,  True, False, False, False, False,  True, False,
         True,  True, False, False, False,  True,  True, False, False,
        False, False, False, False, False])]

In [54]:
lat=np.asarray(lat)

In [55]:
lat[lat=='nan']=0

In [56]:
lat

array(['41.9028', '41.9028', '41.4496', '45.764', '41.4496', '41.2964',
       '40.4644', '41.9028', '42.4211', '41.9028', '41.9028', '42.5176',
       '42.5176', '42.5176', '41.6754', '41.9028', '41.9028', '41.6754',
       '44.7009', '44.7009', '32.6343', '45.764', '41.9028', '36.5675',
       '34.7324', '34.5305', '0', '0', '0', '0', '0', '41.9028',
       '32.8569', '45.0112', '44.9795', '0', '0', '0', '0', '44.9795',
       '44.9795', '44.9795', '42.5636', '0', '44.9795', '43.1843', '0',
       '0', '41.0842', '44.9795', '40.1467', '43.9095', '0', '43.3209',
       '0', '0', '43.9095', '43.6766', '44.9795', '0', '0', '41.0082',
       '44.7866', '45.2879', '45.2879', '44.9795', '44.7009', '41.2158'],
      dtype='<U32')